body {
    font-family: 'Open Sans';
}

.logo {
    font-size: 1.6em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.nav-item a {
    color: gray;
    font-size: 1.05em;
    font-weight: 700;
}

.dropdown a {
    color: gray;
    font-size: 1.05em;
    font-weight: 600;
}

.dropdown-menu li {
    padding: 10px;
}

.portfolio-pic img {
    width: 100%;
    max-height: 275px;
    min-height: 275px;
    object-fit: cover;
}

#about img {
    float: right;
    margin-top: -100px;
    width: 250px;
    border-radius: 100%;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

p {
    font-size: 1.2em;
    line-height: 1.8em;
}

#featured-project, #price-compare, #contact {
    background-color: #f8f8f8;
    /* background-color: #eff8ff; */
}

#featured-project img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.gs-anchor {
    text-align: center;
    font-size: 1.3em;
    margin: 15px;
}

.gs-anchor a {
    color: black;
}

#featured-project button {
    background-color: #0083ff;
    color: #f8f8f8;
    font-size: 1.2em;
}

.fb-width {
    width: 150px;
}

.carousel img {
    /* object-fit: cover; */
    width: 80%;
    max-width: 1200px;
    max-height: 500px;
    min-height: 500px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='BEBEBE' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='BBEBEBE' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: black;
}

#gs-watch img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 850px;
}

#price-compare img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

/* creates zoom animation effect for contact icons */

.zoom {
    transition: transform .2s; 
    font-size: 3.5em; 
    color: gray;
}

.zoom:hover {
    transform: scale(1.2); 

